body {
    margin: 0;
    padding: 0;
    font: 13px/1.5 'Roboto', 'Noto', sans-serif;
    min-height: 100vh;
}

/*header*/
header {
    text-align: center;
}

header .title-card {
    display: grid;
    grid-template-columns: 95% 5%;
}

header .shop {
    padding-top: 20px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
}

header .cart {
    text-align: flex-end;
    padding: 20px;
    margin-right: 20px;
}

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
    border: none;
    outline: none;
    border-radius: 100%;
}

.icon-button:focus {
    background-color: #c5c3c3;
}

.icon-button_badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: #172c50;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

header a {
    text-decoration: none;
    color: black;
}

header li {
    display: inline;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

header li:active {
    border-bottom: 2px solid black;
    background-color: #c5cad3;
}

header .card {
    font-size: 24px;
    float: left;
}


/*categories*/
.categories {
    text-align: center;
    margin-top: -50px;
}

.categories button,
.your-cart-footer button,
.checkout-payment button {
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 8px 44px;
}

.category {
    margin: 50px 40px 0 40px;
    text-align: center;
}

.category button:active,
.your-cart-footer button :active,
.checkout-payment button :active {
    background-color: black;
    color: white;
}

.category h3 {
    font-weight: 400;
}

.category p {
    font-size: smaller;
    color: #757575;
    font-weight: 500;
}

.T-Shirts {
    margin: 50px 40px 120px 40px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
}

.T-Shirts img {
    height: 100%;
    width: 100%;
    object-fit: none;
}

/*footer*/
footer h3 {
    text-align: center;
    line-height: 24px;
}

footer h3 a {
    color: #757575;
    font-weight: 500;
    text-decoration: none;
}

footer .demo-only {
    box-sizing: border-box;
    width: 120px;
    margin: 8px auto 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/*collection*/
.grid-collections {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.collection {
    padding: 20px;
    text-align: center;
}

.collection a {
    text-decoration: none;
}

.collection-name {
    color: black;
    font-weight: bold;
}

.collection-price {
    color: #757575;
}

/*product-detail*/
.product-detail {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 80%;
    margin: auto;
}

.product-img {
    grid-column: 1;
    text-align: center;
}

.product-name {
    margin: 50px 0px;
}

.product-name h1 {
    font-weight: 500;
    font-size: 24px;
}

.product-name .price {
    color: #757575;
    font-size: medium;
}

/*pickers*/
.pickers label {
    color: #757575;
    position: absolute;
    padding: 16px;
}

.pickers select {
    font-size: 16px;
    width: 80%;
    padding: 16px 24px 16px 70px;
    border: none;
    font-weight: 300;
    background-color: transparent;
}

#size {
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575;
}

#quantity {
    border-bottom: 1px solid #757575;
}

.product-description p,
.features {
    color: #757575;
}

/*cart*/
.your-cart-count {
    text-align: center;
    color: #757575;
    font-size: small;
}

.your-cart-list {
    display: grid;
    grid-template-rows: repeat(3, 1);
    grid-template-columns: repeat(1, 1);
    width: 60%;
    margin: auto;
}

.your-cart-item {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.your-cart-item-name,
.your-cart-item-price,
.your-cart-item-size {
    padding: 10px;
    font-size: 15px;
    color: #757575;
}

.your-cart-item-img img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.your-cart-item-quantity label {
    color: #757575;
    position: absolute;
    padding: 15px;
}

.your-cart-item-quantity select {
    font-size: 16px;
    padding: 16px 24px 16px 70px;
    border: none;
    background-color: transparent;
}

.fa-times-thin:before {
    content: '\00d7';
    font-size: larger;
}

.your-cart-item-cancel {
    text-align: right;
    padding-right: 10px;
}

.your-cart-footer {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}

.your-cart-footer span {
    margin: 10px;
}

.checkout {
    width: 60%;
    display: grid;
    gap: 50px;
    grid-template-columns: 50% 50%;
    margin: 50px auto 70px auto;
}

.checkout h2{
    font-size: 15px;
    margin: 30px 0px 0px 0px;
}

.checkout input {
    /* line-height: 20px; */
    font-size: 15px;
    font-weight: 300;
    color: #757575;
    border: none;
    padding: 30px 0 0 0;
    width: 100%;
    outline: none;
    border-bottom: solid 1px #757575;
}

.input-address {
    display: grid;
    gap: 15px;
    grid-template-columns: 50% 50%;
    margin-bottom: 20px;
}

#shipCountrySelect,
#billCountrySelect,
#cardMonthSelect,
#cardYearSelect {
    width: 100%;
    border: none;
    background-color: transparent;
    font-weight: 300;
    outline: none;
    border-bottom: solid 1px #757575;
    font-size: 15px;
    padding: 10px 0 10px 0;
}

.checkout-info-billing {
    display: grid;
    margin: 0 10px 0 10px;
    grid-template-columns: 5% 95%;
    gap: 10px;
    font-size: medium;
}

.input-card-date {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3,1fr);
}

.order-summary {
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 40px;
}

.order-item, .order-price{
    padding: 4px;
}